
/* Scratchpad */
body > * {
	font-family: "proxima-nova", Helvetica, Arial, sans-serif !important;
	font-weight: 900  !important;
	text-transform: uppercase  !important;
	font-style: italic  !important;
	font-size: 36px !important;
	line-height: 1.4em;
}


section {
	height: 993px;
	overflow: hidden;
	text-align: center;
	padding: 20%;
	width: 100%;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;


	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
}

html, body {
	width: 100%;
	height: 100%;
}








/* Text Styles */
h1,
h2,
h3,
h4,
h5{
	font-weight:normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

