@media (min-width: 481px) {
	body {
		min-width: 960px;
	}
}


/* Scratchpad */
body > * {
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	font-weight: 900 ;
	text-transform: uppercase;
	font-style: italic ;
	font-size: 36px;
	line-height: 1.4em;
	text-shadow: 1px 1px 3px rgba(100, 100, 100, 1);
}

section {
	height: 720px;
	overflow: hidden;
	text-align: center;
	width: 100%;

	position: relative;

	-moz-box-shadow:    1px 1px 1px 1px #ccc;
  	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
  	box-shadow:         1px 1px 1px 1px #ccc;

	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

.emphasis {
	color: #FF5521;
}




.mhacks-button {
	width: 280px;
	border-radius: 5px;
	background-color: #FF5521;
	border-top:1px solid #FF6F3B;
	border-left:1px solid #FF6F3B;
	border-right:3px solid #BD2C00;
	border-bottom:3px solid #BD2C00;
	text-shadow: 0px -1px 0px #374683;
	cursor: pointer;
	color: white;
	font-size: 30px;
	margin: 0 auto;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none; 
}

.mhacks-button:active {
	border-right:1px solid #FF6F3B;
	border-bottom:1px solid #FF6F3B;
	border-left:3px solid #BD2C00;
	border-top:3px solid #BD2C00;
}




#big-house {
	background-image: url('../img/bighouse2.jpg');
}




/* Section-wide styles */
#landing, #big-house {
	background-size:cover;
	background-repeat:no-repeat;
}


.container {
	width: 960px;
	margin: 0 auto;
}


.background-video-wrapper {
/*	background-image:url();
	background-size:cover;
*/}


/* ------------------ */
/* Section 1: Landing */
/* ------------------ */

	#landing {
	}

	.landing-info {
		width:400px;
		position: absolute;
		top: 50px;
		left: 50px;
		text-align: center;
	}

	.landing-title {
		color: white;
		font-size: 42px;
		line-height: 1em;
		text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	}

	.landing-logo {
		width: 200px;
		margin: 40px auto;
	}

	.landing-info img {
		width: 100%;
	}

	#background-video{
		position:relative;
		width:100%;
		left:0;
		z-index:0;
	}

	.mute {
		color:#fff;
		font-size:16px;
		position:absolute;
		top:50px;
		right:40px;
		text-decoration:none;
		cursor:pointer;
	}

/* ---------------- */
/* Section 2: Stats */
/* ---------------- */

	#stats {
		padding: 50px 0;
		height: 550px;
	}
	
	#stats > .container > h2 {
		font-size: 80px;
		text-align: right;
		text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
		margin: 50px 0;
	}

	#stats > .container > h3 {
		font-size: 24px;
		text-align: right;
		margin-top: 220px;
		display: none;
	}

/* -------------------- */
/* Section 3: Big House */
/* -------------------- */

	#big-house {
		padding: 50px 0;
		color: white;
	}
	
	#big-house > .container > h3 {
		text-align: left;
		margin-top: 50px;
		font-size: 28px;
	}

	#big-house > .container > h2 {
		font-size: 70px;
		text-align: left;
		padding-right: 200px;
		margin-top:-30px;
	}

	#big-house > .container > h1 {
		font-size: 130px;
		text-align: center;
		width: 600px;
		line-height: 0.8em;
		margin:0 auto;
		margin-top: -15px;
	}

	.big-house-info {
		width: 300px;
		float: right;
		font-size: 28px;
		line-height: 30px;
		margin-top: 40px;
		text-align: right;
		text-shadow: 1px 1px 2px rgba(100, 100, 100, 1);
	}
